@import "tailwindcss";

@theme {
  --color-primary: #f7f7f7;
  --color-secondary: #202020;
  --color-accent: #de3333;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 100%;
}
/* Custom class to hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  box-sizing: border-box;
}
